h1{
    text-align: center;
    color: blanchedalmond;
}
h2 {
    text-align: center;
    color: blanchedalmond;

}
body {
    background-color: black
    ;

}
li{
    color: aliceblue;
}
a{
    font-size: 1.5em;
    color: aliceblue;
}
