*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav{
    background-color: rgba(18, 2, 33, 0.615);
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    height: 45px;
    padding-top: 15px;
    z-index: 1;
}
.suscrib{
    background-color: rgb(198, 58, 240);
    border-radius: 20px;
    width: 160px;
    text-align: center;
}
li{
    list-style: none;
    color: white;
    font-size: 14px;
}
ul{
    display: inline;
}
.principal{
    width: 100%;
    height: 100vh;
    background-color: rgb(28, 13, 39);
    display: flex;
    justify-content: center;
    align-items: end; 
    /* background: url(img/video.mp4); */
}
 video{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
.item{
    display: inline-block;
    margin-right: 10px;
    padding: 5px;
}
.principal div{
    width: 450px;
    height: 250px;
    z-index: 1;
    text-align: center;
    color: white;
    margin-bottom: 100px;
}
.principal div h1{
    font-size: 80px;
    margin-top: -20px;

}
.boton{
    width: 180px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: rgb(177, 47, 251);
    color: white;
    font-weight: 800;
    margin-top: 15px;
}
.ahorra{
    color: rgb(225, 87, 225);
}
.segundo{
    height: 750px;
    display: block;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(46, 1, 76), rgba(48, 8, 113, 0.906), black);
    padding-bottom: 60px;
}
.cajas{
    width: 300px;
    height: 300px;
    background-color: rgba(142, 60, 224, 0.18);
    margin-right: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;


}
.cajas h2,h1,p{
    text-align: center;
    color: white;
    margin-top: 20px;
}
.cajas p{
    font-size: 20px;
}
.cajas h2{
    font-size: 30px;
}
.cajas h1{
    font-size: 50px;
}
.cajas button{
    background-color: rgb(169, 45, 222);
    width: 180px;
    height: 40px;
    color: white;
    border-radius: 20px;
    font-size: 23px;
    margin: auto;
}
.border{
    border: 2px solid rgb(138, 30, 232);
}
.uno{
    width: 100%;
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
}
.dos{
    width: 100%;
    display: flex;
    height: 300px;
    align-items: center;
    justify-content: center;
}
.text{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 300px;
    height: 100px;
    margin-right: 50px;
}
.text li{
    font-size: 20px;
    list-style: circle;
}
.tittle{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tittle div{
    display: block;
    color: white;
}
.tittle div h2{
    margin-top: 30px;
}
.parrafo h3{
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;

}
.slider {
    grid-area: slider;
     width: 3120px;
    height: 750px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
    z-index: -10;
    transition: all 2s;
}
.slider-view-1 {
    left: 0;
}
.slider-view-2 {
    left: -1040px;
}
.slider-view-3 {
    left: -2080px;
}
.view-1 {

    left: 0;
}
.view-2 {
    left: -1040px;
}
.view-3 {
    left: -2080px;
}
.main-box-slider {
    width: 100%;
    height: 500px;
    background: linear-gradient(rgb(46, 1, 76), rgb(48, 8, 113), rgb(65, 5, 85));
    display: grid;
   grid-template: "empty-left box-slider empty-right" /
                    1fr        1300px     1fr;
                    position: relative;
    z-index: 20;
    
}
.empty-left, .empty-right {
    z-index: 30;
}
.box-slider {
    grid-area: box-slider;
    width: 100%;
    height: 400px;
    display: grid;
    grid-template: "arrow-left slider arrow-right" /
                    130px      1040px  130px;
    z-index: 20;
    overflow: hidden;
   padding-top: 30px;
}
.arrow-left {
    grid-area: arrow-left;
}
.arrow-right {
    grid-area: arrow-right;
}
.arrow-left, .arrow-right {
    display: flex;
    justify-content: center; 
    background: linear-gradient(rgb(39, 3, 93), rgb(18, 1, 36), rgb(26, 3, 44));
 }
.slider-1, .slider-2, .slider-3 {
    width: 1040px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-arrow-left, .icon-arrow-right {
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 3em;
    margin-top: 180px;
}
.icon-arrow-left i, .icon-arrow-right i{
    color: white;
    font-size: 40px;
}
.img-slider{
    width: 700px;
    height: 400px;
}
.image{
    width: 700px;
    height: 400px;
}
.text{
    width: 300px;
    height: 300px;
    margin-left: 10px;
    color: white;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-suscribe{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
    background: linear-gradient(rgb(65, 5, 85),rgb(46, 1, 76), rgb(48, 8, 113));
  
}
.box-carrusel{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.barra-signal-1, .barra-signal-2, .barra-signal-3{
    background-color: rgb(194, 211, 211);
    width: 70px;
    height: 5px;
    border-radius: 20px;
    margin-right: 5px;
    position: relative;
    top: -50px;
    z-index: 50;
}
.barra-signal-current{
    background-color: aqua;
    transition: 2s;
}
.button-suscribe button{
    width: 200px;
    height: 40px;
    border-radius: 30px;
    font-weight: bold;
    background: radial-gradient(rgb(213, 130, 238), rgb(114, 15, 202));
    color: white;
    border: none;
}
.button-suscribe h2{
    color: white;
    margin-top: 30px;
}
.cartelera{
    width: 100%;
    height: 400px;
    display: grid;
    grid-template:"empty-izquierda cartelera-slider empty-derecha"/
                          1fr    1300px       1fr ;
}
.empty-izquierda{
    grid-area: empty-izquierda;
    background-color: blueviolet;
}
.empty-derecha{
    grid-area: empty-derecha;
    background-color: blueviolet;
}
.cartelera-slider{
   display: grid;
   grid-template:"izquierda slider-movies derecha"/
                    130px   1040px  130px ;
}
.slider-movies{
    background-color: aliceblue;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 20;
    overflow: hidden;
}
.movies{
    width: 300px;
    height: 350px;
    background-color: blue;
    margin-right: 30px;
}
.empty-izquierda, .empty-derecha{
    z-index: 30;
}
.izquierda, .derecha{
    z-index: 40;
    display: flex;
    justify-content: center;
    align-items: center;
}
i{
    font-size: 30px;
    color: black;
}
.movies{
    background-image: url(img/stalk.jpg);
}